attic/qa/apps/qa-regress/axis/servicesAndPorts/BadDotNetWebServiceRequest.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

-->
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://fmr.com/BackOffice/DocumentMetadata" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://fmr.com/BackOffice/DocumentMetadata" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://fmr.com/BackOffice/DocumentMetadata">
      <s:element name="GetDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EnterpriseId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="DocumentType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ContainersToRetrieve" type="tns:ArrayOfContainerType" />
            <s:element minOccurs="0" maxOccurs="1" name="MetadataToRetrieve" type="tns:ArrayOfMetadataType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfContainerType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ContainerType" type="tns:ContainerType" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ContainerType">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="Client" />
          <s:enumeration value="IndustryTrends" />
          <s:enumeration value="Fiduciary" />
          <s:enumeration value="PlanData" />
          <s:enumeration value="Goals" />
          <s:enumeration value="OptionalSections" />
          <s:enumeration value="RPRSelections" />
          <s:enumeration value="BusinessPlanDetail" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfMetadataType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MetadataType" type="tns:MetadataType" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="MetadataType">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="RPRDocumentHistory" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetDocumentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Document" type="tns:DocumentResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DocumentResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Containers" type="tns:ArrayOfChoice1" />
          <s:element minOccurs="0" maxOccurs="1" name="CreateDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DocumentId" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="LastModifiedDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Metadata" type="tns:ArrayOfRPRDocumentHistoryMetadata" />
          <s:element minOccurs="0" maxOccurs="1" name="DocumentType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DocumentName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EnterpriseID" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="BusinessSegment" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DocumentStatus" type="tns:DocumentStatusType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfChoice1">
        <s:choice minOccurs="0" maxOccurs="unbounded">
          <s:element minOccurs="1" maxOccurs="1" name="BusinessPlanDetail" nillable="true" type="tns:BusinessPlanDetailResponse" />
          <s:element minOccurs="1" maxOccurs="1" name="Fiduciary" nillable="true" type="tns:FiduciaryResponse" />
          <s:element minOccurs="1" maxOccurs="1" name="OptionalSections" nillable="true" type="tns:OptionalSectionsResponse" />
          <s:element minOccurs="1" maxOccurs="1" name="IndustryTrends" nillable="true" type="tns:IndustryTrendsResponse" />
          <s:element minOccurs="1" maxOccurs="1" name="RPRSelections" nillable="true" type="tns:RPRSelectionsResponse" />
          <s:element minOccurs="1" maxOccurs="1" name="Goals" nillable="true" type="tns:GoalsResponse" />
          <s:element minOccurs="1" maxOccurs="1" name="PlanData" nillable="true" type="tns:PlanDataResponse" />
          <s:element minOccurs="1" maxOccurs="1" name="Client" nillable="true" type="tns:ClientResponse" />
        </s:choice>
      </s:complexType>
      <s:complexType name="BusinessPlanDetailResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:ContainerResponse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="CalendarFormat" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ClientName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DocumentTitle" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PresentationDate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RMName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="BusinessPlanYear" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ContainerResponse" abstract="true">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ContainerId" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="ContainerType" type="tns:ContainerType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OptionalSectionsResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:ContainerResponse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="AvailableOptionalSections" type="tns:ArrayOfOptionalSection" />
              <s:element minOccurs="0" maxOccurs="1" name="SuppressedSections" type="tns:ArrayOfString1" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfOptionalSection">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OptionalSection" nillable="true" type="tns:OptionalSection" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OptionalSection">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CategoryName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequiredSections" type="tns:ArrayOfString1" />
          <s:element minOccurs="0" maxOccurs="1" name="SectionCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString1">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SectionCode" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PlanDataResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:ContainerResponse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Plans" type="tns:ArrayOfPlan" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfPlan">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Plan" nillable="true" type="tns:Plan" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Plan">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ChartLabel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Industry" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IndustryOverride" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PlanName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PlanNameOverride" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PlanNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PlanSizeGroup" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PlanSizeGroupOverride" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FiduciaryResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:ContainerResponse">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="_404Protection" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="Ecm404Compliance" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EcmDocumentProcess" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EcmEstablishFiduciaryCommittee" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EcmFiduciaryUpdates" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EcmInvestmentPolicy" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EcmMeetDisclosureRequirements" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EcmMeetTestingRequirements" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EcmReviewInvestments" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EcmReviewPlan" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="EngageOutsideCounsel" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="FeeServiceReview" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="FollowProcess" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="InvestmentPolicy" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="KeepAppraised" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="MaintainPlan" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="PlanReview" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="PromoteEducation" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="RegularInvestmentReview" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="SatisfyReporting" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="ServiceProvider" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="UnderstandPlan" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="IndustryTrendsResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:ContainerResponse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="AvailableIndustryTrends" type="tns:ArrayOfIndustryTrend" />
              <s:element minOccurs="0" maxOccurs="1" name="SelectedTrends" type="tns:ArrayOfInt" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfIndustryTrend">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="IndustryTrend" nillable="true" type="tns:IndustryTrend" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="IndustryTrend">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Footnote" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IndustryTrendsId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TrendTypeCd" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TrendId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ClientResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:ContainerResponse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ClientName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ClientNameOverride" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FirmName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FirmNameOverride" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="InvestmentProfessional" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="InvestmentProfessionalOverride" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsYearInReviewEditable" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="RMName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RMNameOverride" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="YearInReview" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RMBadgeId" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="GoalsResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:ContainerResponse">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="GoalsId" type="s:long" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="RPRSelectionsResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:ContainerResponse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="BenchmarkPlan" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CollatePlans" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IncludeIR" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IncludePE" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IncludePRR" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="InvestDataDate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PlanDataDate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PresentationDate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TimeFrame" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="RPRDocumentType" type="tns:RPRDocumentType" />
              <s:element minOccurs="0" maxOccurs="1" name="SelectedPlans" type="tns:ArrayOfString" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="RPRDocumentType">
        <s:restriction base="s:string">
          <s:enumeration value="RPR" />
          <s:enumeration value="EBD" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element name="PlanNumber" nillable="true" minOccurs="0" maxOccurs="unbounded"  type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRPRDocumentHistoryMetadata">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RPRDocumentHistory" nillable="true" type="tns:RPRDocumentHistoryMetadata" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RPRDocumentHistoryMetadata">
        <s:complexContent mixed="false">
          <s:extension base="tns:MetadataResponse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="Entry" type="tns:RPRHistory" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="MetadataResponse" abstract="true">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MetadataType" type="tns:MetadataType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RPRHistory">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DocumentId" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="CreateDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastModifiedDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DocumentName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DocumentType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InvestDataDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PlanDataDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Plans" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Timeframe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ServerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorReason" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="DocumentStatusType">
        <s:restriction base="s:string">
          <s:enumeration value="InProgress" />
          <s:enumeration value="Queued" />
          <s:enumeration value="Generating" />
          <s:enumeration value="Complete" />
          <s:enumeration value="Error" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetContainers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DocumentId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="ContainersToRetrieve" type="tns:ArrayOfContainerType" />
            <s:element minOccurs="0" maxOccurs="1" name="MetadataToRetrieve" type="tns:ArrayOfMetadataType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContainersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Results" type="tns:GetContainersResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetContainersResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Containers" type="tns:ArrayOfChoice2" />
          <s:element minOccurs="0" maxOccurs="1" name="Metadata" type="tns:ArrayOfRPRDocumentHistoryMetadata" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfChoice2">
        <s:choice minOccurs="0" maxOccurs="unbounded">
          <s:element minOccurs="1" maxOccurs="1" name="BusinessPlanDetail" nillable="true" type="tns:BusinessPlanDetailResponse" />
          <s:element minOccurs="1" maxOccurs="1" name="Fiduciary" nillable="true" type="tns:FiduciaryResponse" />
          <s:element minOccurs="1" maxOccurs="1" name="OptionalSections" nillable="true" type="tns:OptionalSectionsResponse" />
          <s:element minOccurs="1" maxOccurs="1" name="IndustryTrends" nillable="true" type="tns:IndustryTrendsResponse" />
          <s:element minOccurs="1" maxOccurs="1" name="RPRSelections" nillable="true" type="tns:RPRSelectionsResponse" />
          <s:element minOccurs="1" maxOccurs="1" name="Goals" nillable="true" type="tns:GoalsResponse" />
          <s:element minOccurs="1" maxOccurs="1" name="PlanData" nillable="true" type="tns:PlanDataResponse" />
          <s:element minOccurs="1" maxOccurs="1" name="Client" nillable="true" type="tns:ClientResponse" />
        </s:choice>
      </s:complexType>
      <s:element name="UpdateContainers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DocumentId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="ContainersToUpdate" type="tns:ArrayOfChoice3" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfChoice3">
        <s:choice minOccurs="0" maxOccurs="unbounded">
          <s:element minOccurs="1" maxOccurs="1" name="BusinessPlanDetail" nillable="true" type="tns:BusinessPlanDetailUpdate" />
          <s:element minOccurs="1" maxOccurs="1" name="Fiduciary" nillable="true" type="tns:FiduciaryUpdate" />
          <s:element minOccurs="1" maxOccurs="1" name="OptionalSections" nillable="true" type="tns:OptionalSectionsUpdate" />
          <s:element minOccurs="1" maxOccurs="1" name="IndustryTrends" nillable="true" type="tns:IndustryTrendsUpdate" />
          <s:element minOccurs="1" maxOccurs="1" name="RPRSelections" nillable="true" type="tns:RPRSelectionsUpdate" />
          <s:element minOccurs="1" maxOccurs="1" name="Goals" nillable="true" type="tns:GoalsUpdate" />
          <s:element minOccurs="1" maxOccurs="1" name="PlanData" nillable="true" type="tns:PlanDataUpdate" />
          <s:element minOccurs="1" maxOccurs="1" name="Client" nillable="true" type="tns:ClientUpdate" />
        </s:choice>
      </s:complexType>
      <s:complexType name="BusinessPlanDetailUpdate">
        <s:complexContent mixed="false">
          <s:extension base="tns:ContainerUpdate">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="CalendarFormat" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ClientName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DocumentTitle" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PresentationDate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RMName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="BusinessPlanYear" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ContainerUpdate" abstract="true">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ContainerId" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RPRSelectionsUpdate">
        <s:complexContent>
          <s:extension base="tns:ContainerUpdate">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="BenchmarkPlan" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CollatePlans" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IncludeIR" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IncludePE" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IncludePRR" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="PresentationDate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TimeFrame" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="RPRDocumentType" type="tns:RPRDocumentType" />
              <s:element minOccurs="0" maxOccurs="1" name="SelectedPlans" type="tns:ArrayOfString" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="OptionalSectionsUpdate">
        <s:complexContent mixed="false">
          <s:extension base="tns:ContainerUpdate">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="SuppressedSections" type="tns:ArrayOfString1" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="GoalsUpdate">
        <s:complexContent mixed="false">
          <s:extension base="tns:ContainerUpdate">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="GoalsId" type="s:long" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="FiduciaryUpdate">
        <s:complexContent mixed="false">
          <s:extension base="tns:ContainerUpdate">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="_404Protection" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="Ecm404Compliance" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EcmDocumentProcess" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EcmEstablishFiduciaryCommittee" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EcmFiduciaryUpdates" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EcmMeetDisclosureRequirements" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EcmMeetTestingRequirements" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EcmReviewInvestments" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EcmReviewPlan" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EcmInvestmentPolicy" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="EngageOutsideCounsel" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="FeeServiceReview" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="FollowProcess" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="InvestmentPolicy" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="KeepAppraised" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="MaintainPlan" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="PlanReview" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="PromoteEducation" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="RegularInvestmentReview" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="SatisfyReporting" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="ServiceProvider" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="UnderstandPlan" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="PlanDataUpdate">
        <s:complexContent mixed="false">
          <s:extension base="tns:ContainerUpdate">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Plans" type="tns:ArrayOfPlanUpdate" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfPlanUpdate">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Plan" nillable="true" type="tns:PlanUpdate" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PlanUpdate">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ChartLabel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IndustryOverride" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PlanNameOverride" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PlanNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PlanSizeGroupOverride" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="IndustryTrendsUpdate">
        <s:complexContent mixed="false">
          <s:extension base="tns:ContainerUpdate">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="AddCustomIndustryTrends" type="tns:ArrayOfCustomIndustryTrend" />
              <s:element minOccurs="0" maxOccurs="1" name="SelectedIndustryTrends" type="tns:ArrayOfString2" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfCustomIndustryTrend">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CustomIndustryTrend" nillable="true" type="tns:CustomIndustryTrend" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CustomIndustryTrend">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TempCustomId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Footnote" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="IndustryTrendId" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ClientUpdate">
        <s:complexContent mixed="false">
          <s:extension base="tns:ContainerUpdate">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ClientNameOverride" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FirmNameOverride" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="InvestmentProfessionalOverride" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RMNameOverride" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="YearInReview" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="UpdateContainersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateContainersResult" type="tns:GenerateDocumentResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GenerateDocumentResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ReturnCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReturnMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GenerateDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DocumentId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="ContainersToUpdate" type="tns:ArrayOfChoice4" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfChoice4">
        <s:choice minOccurs="0" maxOccurs="unbounded">
          <s:element minOccurs="1" maxOccurs="1" name="BusinessPlanDetail" nillable="true" type="tns:BusinessPlanDetailUpdate" />
          <s:element minOccurs="1" maxOccurs="1" name="Fiduciary" nillable="true" type="tns:FiduciaryUpdate" />
          <s:element minOccurs="1" maxOccurs="1" name="OptionalSections" nillable="true" type="tns:OptionalSectionsUpdate" />
          <s:element minOccurs="1" maxOccurs="1" name="IndustryTrends" nillable="true" type="tns:IndustryTrendsUpdate" />
          <s:element minOccurs="1" maxOccurs="1" name="RPRSelections" nillable="true" type="tns:RPRSelectionsUpdate" />
          <s:element minOccurs="1" maxOccurs="1" name="Goals" nillable="true" type="tns:GoalsUpdate" />
          <s:element minOccurs="1" maxOccurs="1" name="PlanData" nillable="true" type="tns:PlanDataUpdate" />
          <s:element minOccurs="1" maxOccurs="1" name="Client" nillable="true" type="tns:ClientUpdate" />
        </s:choice>
      </s:complexType>
      <s:element name="GenerateDocumentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerateDocumentResult" type="tns:GenerateDocumentResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNextQueuedDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="argDocumentType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="argServerName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNextQueuedDocumentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNextQueuedDocumentResult" type="tns:QueuedDocument" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="QueuedDocument">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DocumentId" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="EnterpriseId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DocumentType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BusinessSegment" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClientName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="argDocumentId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="argDocumentName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="argDocumentStatus" type="tns:DocumentStatusType" />
            <s:element minOccurs="0" maxOccurs="1" name="argDocumentErrorMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDocumentResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetClientId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="enterpriseId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClientIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetClientIdResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEnterpriseId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="clientId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="avenueFlag" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEnterpriseIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetEnterpriseIdResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetExternalDocumentLocation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="clientId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="plan" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="documentType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetExternalDocumentLocationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetExternalDocumentLocationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRPRBlackoutEndDate">
        <s:complexType />
      </s:element>
      <s:element name="GetRPRBlackoutEndDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetRPRBlackoutEndDateResult" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDocumentSoapIn">
    <wsdl:part name="parameters" element="tns:GetDocument" />
  </wsdl:message>
  <wsdl:message name="GetDocumentSoapOut">
    <wsdl:part name="parameters" element="tns:GetDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="GetContainersSoapIn">
    <wsdl:part name="parameters" element="tns:GetContainers" />
  </wsdl:message>
  <wsdl:message name="GetContainersSoapOut">
    <wsdl:part name="parameters" element="tns:GetContainersResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateContainersSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateContainers" />
  </wsdl:message>
  <wsdl:message name="UpdateContainersSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateContainersResponse" />
  </wsdl:message>
  <wsdl:message name="GenerateDocumentSoapIn">
    <wsdl:part name="parameters" element="tns:GenerateDocument" />
  </wsdl:message>
  <wsdl:message name="GenerateDocumentSoapOut">
    <wsdl:part name="parameters" element="tns:GenerateDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="GetNextQueuedDocumentSoapIn">
    <wsdl:part name="parameters" element="tns:GetNextQueuedDocument" />
  </wsdl:message>
  <wsdl:message name="GetNextQueuedDocumentSoapOut">
    <wsdl:part name="parameters" element="tns:GetNextQueuedDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateDocumentSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateDocument" />
  </wsdl:message>
  <wsdl:message name="UpdateDocumentSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="GetClientIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetClientId" />
  </wsdl:message>
  <wsdl:message name="GetClientIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetClientIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetEnterpriseIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetEnterpriseId" />
  </wsdl:message>
  <wsdl:message name="GetEnterpriseIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetEnterpriseIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetExternalDocumentLocationSoapIn">
    <wsdl:part name="parameters" element="tns:GetExternalDocumentLocation" />
  </wsdl:message>
  <wsdl:message name="GetExternalDocumentLocationSoapOut">
    <wsdl:part name="parameters" element="tns:GetExternalDocumentLocationResponse" />
  </wsdl:message>
  <wsdl:message name="GetRPRBlackoutEndDateSoapIn">
    <wsdl:part name="parameters" element="tns:GetRPRBlackoutEndDate" />
  </wsdl:message>
  <wsdl:message name="GetRPRBlackoutEndDateSoapOut">
    <wsdl:part name="parameters" element="tns:GetRPRBlackoutEndDateResponse" />
  </wsdl:message>
  <wsdl:portType name="DocumentMetadataWebServiceSoap">
    <wsdl:operation name="GetDocument">
      <wsdl:input message="tns:GetDocumentSoapIn" />
      <wsdl:output message="tns:GetDocumentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContainers">
      <wsdl:input message="tns:GetContainersSoapIn" />
      <wsdl:output message="tns:GetContainersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateContainers">
      <wsdl:input message="tns:UpdateContainersSoapIn" />
      <wsdl:output message="tns:UpdateContainersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateDocument">
      <wsdl:input message="tns:GenerateDocumentSoapIn" />
      <wsdl:output message="tns:GenerateDocumentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNextQueuedDocument">
      <wsdl:input message="tns:GetNextQueuedDocumentSoapIn" />
      <wsdl:output message="tns:GetNextQueuedDocumentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDocument">
      <wsdl:input message="tns:UpdateDocumentSoapIn" />
      <wsdl:output message="tns:UpdateDocumentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClientId">
      <wsdl:input message="tns:GetClientIdSoapIn" />
      <wsdl:output message="tns:GetClientIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEnterpriseId">
      <wsdl:input message="tns:GetEnterpriseIdSoapIn" />
      <wsdl:output message="tns:GetEnterpriseIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetExternalDocumentLocation">
      <wsdl:input message="tns:GetExternalDocumentLocationSoapIn" />
      <wsdl:output message="tns:GetExternalDocumentLocationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRPRBlackoutEndDate">
      <wsdl:input message="tns:GetRPRBlackoutEndDateSoapIn" />
      <wsdl:output message="tns:GetRPRBlackoutEndDateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DocumentMetadataWebServiceSoap" type="tns:DocumentMetadataWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="GetDocument">
      <soap:operation soapAction="http://fmr.com/BackOffice/DocumentMetadata/GetDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContainers">
      <soap:operation soapAction="http://fmr.com/BackOffice/DocumentMetadata/GetContainers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateContainers">
      <soap:operation soapAction="http://fmr.com/BackOffice/DocumentMetadata/UpdateContainers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateDocument">
      <soap:operation soapAction="http://fmr.com/BackOffice/DocumentMetadata/GenerateDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextQueuedDocument">
      <soap:operation soapAction="http://fmr.com/BackOffice/DocumentMetadata/GetNextQueuedDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDocument">
      <soap:operation soapAction="http://fmr.com/BackOffice/DocumentMetadata/UpdateDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientId">
      <soap:operation soapAction="http://fmr.com/BackOffice/DocumentMetadata/GetClientId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEnterpriseId">
      <soap:operation soapAction="http://fmr.com/BackOffice/DocumentMetadata/GetEnterpriseId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExternalDocumentLocation">
      <soap:operation soapAction="http://fmr.com/BackOffice/DocumentMetadata/GetExternalDocumentLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRPRBlackoutEndDate">
      <soap:operation soapAction="http://fmr.com/BackOffice/DocumentMetadata/GetRPRBlackoutEndDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DocumentMetadataWebService">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">This webservice provides functionality to access and update document containers associated with PSE.</documentation>
    <wsdl:port name="DocumentMetadataWebServiceSoap" binding="tns:DocumentMetadataWebServiceSoap">
      <soap:address location="response.xml" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>