attic/qa/apps/qa-regress/axis/servicesAndPorts/sppspp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

-->
<wsdl:definitions
    targetNamespace="http://localhost:8400/qa-regress/axis/servicesAndPorts/ServicesAndPorts1.jws"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:apachesoap="http://xml.apache.org/xml-soap"
    xmlns:impl="http://localhost:8400/qa-regress/axis/servicesAndPorts/ServicesAndPorts1.jws"
    xmlns:intf="http://localhost:8400/qa-regress/axis/servicesAndPorts/ServicesAndPorts1.jws"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:tns1="http://aglosband2.allaire.com:8100/services/CompanyInfoService"
    xmlns:tns2="http://www.soapinterop.org/Bid"
    xmlns:tns3="http://www.soapinterop.org/Registry"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types> </wsdl:types>
    <wsdl:message name="echoIntegerRequest">
        <wsdl:part name="val" type="xsd:int"/>
    </wsdl:message>
    <wsdl:message name="echoNameResponse">
        <wsdl:part name="echoNameReturn" type="xsd:string"/>
    </wsdl:message>
    <wsdl:message name="echoIntegerResponse">
        <wsdl:part name="echoIntegerReturn" type="xsd:int"/>
    </wsdl:message>
    <wsdl:message name="echoNameRequest">   </wsdl:message>
    <wsdl:portType name="ServicesAndPorts1">
        <wsdl:operation name="echoInteger" parameterOrder="val">
            <wsdl:input message="impl:echoIntegerRequest" name="echoIntegerRequest"/>
            <wsdl:output message="impl:echoIntegerResponse" name="echoIntegerResponse"/>
        </wsdl:operation>
        <wsdl:operation name="echoName">
            <wsdl:input message="impl:echoNameRequest" name="echoNameRequest"/>
            <wsdl:output message="impl:echoNameResponse" name="echoNameResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ServicesAndPorts1SoapBinding" type="impl:ServicesAndPorts1">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="echoInteger">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="echoIntegerRequest">
                <wsdlsoap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://localhost:8400/qa-regress/axis/servicesAndPorts/ServicesAndPorts1.jws"
                    use="encoded"/>
            </wsdl:input>
            <wsdl:output name="echoIntegerResponse">
                <wsdlsoap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://localhost:8400/qa-regress/axis/servicesAndPorts/ServicesAndPorts1.jws"
                    use="encoded"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoName">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="echoNameRequest">
                <wsdlsoap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://localhost:8400/qa-regress/axis/servicesAndPorts/ServicesAndPorts1.jws"
                    use="encoded"/>
            </wsdl:input>
            <wsdl:output name="echoNameResponse">
                <wsdlsoap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://localhost:8400/qa-regress/axis/servicesAndPorts/ServicesAndPorts1.jws"
                    use="encoded"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
  <wsdl:service name="SimpleService1">
    <wsdl:port binding="impl:ServicesAndPorts1SoapBinding" name="SimplePort1">
      <wsdlsoap:address location="http://localhost:8400/qa-regress/axis/servicesAndPorts/ServicesAndPorts1.jws"/>
    </wsdl:port>
    <wsdl:port binding="impl:ServicesAndPorts1SoapBinding" name="SimplePort2">
      <wsdlsoap:address location="http://localhost:8400/qa-regress/axis/servicesAndPorts/ServicesAndPorts2.jws"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:service name="SimpleService2">
    <wsdl:port binding="impl:ServicesAndPorts1SoapBinding" name="SimplePort3">
      <wsdlsoap:address location="http://localhost:8400/qa-regress/axis/servicesAndPorts/ServicesAndPorts3.jws"/>
    </wsdl:port>
    <wsdl:port binding="impl:ServicesAndPorts1SoapBinding" name="SimplePort4">
      <wsdlsoap:address location="http://localhost:8400/qa-regress/axis/servicesAndPorts/ServicesAndPorts4.jws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>