attic/qa/apps/qa-regress/axis/servicesAndPorts/spsp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

-->
<definitions
    targetNamespace="http://soapinterop.org/"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
    xmlns:s="http://www.w3.org/2001/XMLSchema"
    xmlns:s0="http://soapinterop.org/xsd"
    xmlns:s1="http://soapinterop.org/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/">
    <types>
        <s:schema
            targetNamespace="http://soapinterop.org/xsd"
            xmlns="http://schemas.xmlsoap.org/wsdl/"
            xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
            xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
            xmlns:s="http://www.w3.org/2001/XMLSchema"
            xmlns:s0="http://soapinterop.org/xsd"
            xmlns:s1="http://soapinterop.org/"
            xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
            xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
            xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/">
            <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
            <s:import namespace="http://schemas.xmlsoap.org/wsdl/"/>
            <s:complexType name="SOAPStruct">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="1" name="varInt" type="s:int"/>
                    <s:element maxOccurs="1" minOccurs="1" name="varString" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="1" name="varFloat" type="s:float"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfSOAPStruct">
                <s:complexContent mixed="false">
                    <s:restriction base="soapenc:Array">
                        <s:attribute
                            d7p1:arrayType="s0:SOAPStruct[]"
                            ref="soapenc:arrayType"
                            xmlns:d7p1="http://schemas.xmlsoap.org/wsdl/"/>
                    </s:restriction>
                </s:complexContent>
            </s:complexType>
        </s:schema>
        <s:schema
            targetNamespace="http://soapinterop.org/"
            xmlns="http://schemas.xmlsoap.org/wsdl/"
            xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
            xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
            xmlns:s="http://www.w3.org/2001/XMLSchema"
            xmlns:s0="http://soapinterop.org/xsd"
            xmlns:s1="http://soapinterop.org/"
            xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
            xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
            xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/">
            <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
            <s:import namespace="http://schemas.xmlsoap.org/wsdl/"/>
            <s:complexType name="ArrayOfInt">
                <s:complexContent mixed="false">
                    <s:restriction base="soapenc:Array">
                        <s:attribute
                            d7p1:arrayType="s:int[]"
                            ref="soapenc:arrayType"
                            xmlns:d7p1="http://schemas.xmlsoap.org/wsdl/"/>
                    </s:restriction>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="ArrayOfFloat">
                <s:complexContent mixed="false">
                    <s:restriction base="soapenc:Array">
                        <s:attribute
                            d7p1:arrayType="s:float[]"
                            ref="soapenc:arrayType"
                            xmlns:d7p1="http://schemas.xmlsoap.org/wsdl/"/>
                    </s:restriction>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="ArrayOfString">
                <s:complexContent mixed="false">
                    <s:restriction base="soapenc:Array">
                        <s:attribute
                            d7p1:arrayType="s:string[]"
                            ref="soapenc:arrayType"
                            xmlns:d7p1="http://schemas.xmlsoap.org/wsdl/"/>
                    </s:restriction>
                </s:complexContent>
            </s:complexType>
        </s:schema>
    </types>
    <message name="echoBooleanSoapIn">
        <part name="inputBoolean" type="s:boolean"/>
    </message>
    <message name="echoStringSoapOut">
        <part name="return" type="s:string"/>
    </message>
    <message name="echoStringArraySoapOut">
        <part name="return" type="s1:ArrayOfString"/>
    </message>
    <message name="echoStringSoapIn">
        <part name="inputString" type="s:string"/>
    </message>
    <message name="echoStructArraySoapOut">
        <part name="return" type="s0:ArrayOfSOAPStruct"/>
    </message>
    <message name="echoVoidSoapOut">   </message>
    <message name="echoStructSoapOut">
        <part name="return" type="s0:SOAPStruct"/>
    </message>
    <message name="echoFloatArraySoapIn">
        <part name="inputFloatArray" type="s1:ArrayOfFloat"/>
    </message>
    <message name="echoDecimalSoapIn">
        <part name="inputDecimal" type="s:decimal"/>
    </message>
    <message name="echoStructArraySoapIn">
        <part name="inputStructArray" type="s0:ArrayOfSOAPStruct"/>
    </message>
    <message name="echoVoidSoapIn">   </message>
    <message name="echoFloatSoapOut">
        <part name="return" type="s:float"/>
    </message>
    <message name="echoIntegerArraySoapOut">
        <part name="return" type="s1:ArrayOfInt"/>
    </message>
    <message name="echoIntegerSoapOut">
        <part name="return" type="s:int"/>
    </message>
    <message name="echoDateSoapOut">
        <part name="return" type="s:dateTime"/>
    </message>
    <message name="echoBase64SoapIn">
        <part name="inputBase64" type="s:base64Binary"/>
    </message>
    <message name="echoFloatArraySoapOut">
        <part name="return" type="s1:ArrayOfFloat"/>
    </message>
    <message name="echoStructSoapIn">
        <part name="inputStruct" type="s0:SOAPStruct"/>
    </message>
    <message name="echoStringArraySoapIn">
        <part name="inputStringArray" type="s1:ArrayOfString"/>
    </message>
    <message name="echoDateSoapIn">
        <part name="inputDate" type="s:dateTime"/>
    </message>
    <message name="echoFloatSoapIn">
        <part name="inputFloat" type="s:float"/>
    </message>
    <message name="echoBase64SoapOut">
        <part name="return" type="s:base64Binary"/>
    </message>
    <message name="echoIntegerArraySoapIn">
        <part name="inputIntegerArray" type="s1:ArrayOfInt"/>
    </message>
    <message name="echoIntegerSoapIn">
        <part name="inputInteger" type="s:int"/>
    </message>
    <message name="echoDecimalSoapOut">
        <part name="return" type="s:decimal"/>
    </message>
    <message name="echoBooleanSoapOut">
        <part name="return" type="s:boolean"/>
    </message>
    <portType name="SimplePort1">
        <operation name="echoVoid">
            <input message="s1:echoVoidSoapIn"/>
            <output message="s1:echoVoidSoapOut"/>
        </operation>
        <operation name="echoInteger">
            <input message="s1:echoIntegerSoapIn"/>
            <output message="s1:echoIntegerSoapOut"/>
        </operation>
        <operation name="echoFloat">
            <input message="s1:echoFloatSoapIn"/>
            <output message="s1:echoFloatSoapOut"/>
        </operation>
        <operation name="echoString">
            <input message="s1:echoStringSoapIn"/>
            <output message="s1:echoStringSoapOut"/>
        </operation>
        <operation name="echoBase64">
            <input message="s1:echoBase64SoapIn"/>
            <output message="s1:echoBase64SoapOut"/>
        </operation>
        <operation name="echoDate">
            <input message="s1:echoDateSoapIn"/>
            <output message="s1:echoDateSoapOut"/>
        </operation>
        <operation name="echoStruct">
            <input message="s1:echoStructSoapIn"/>
            <output message="s1:echoStructSoapOut"/>
        </operation>
        <operation name="echoIntegerArray">
            <input message="s1:echoIntegerArraySoapIn"/>
            <output message="s1:echoIntegerArraySoapOut"/>
        </operation>
        <operation name="echoFloatArray">
            <input message="s1:echoFloatArraySoapIn"/>
            <output message="s1:echoFloatArraySoapOut"/>
        </operation>
        <operation name="echoStringArray">
            <input message="s1:echoStringArraySoapIn"/>
            <output message="s1:echoStringArraySoapOut"/>
        </operation>
        <operation name="echoStructArray">
            <input message="s1:echoStructArraySoapIn"/>
            <output message="s1:echoStructArraySoapOut"/>
        </operation>
        <operation name="echoDecimal">
            <input message="s1:echoDecimalSoapIn"/>
            <output message="s1:echoDecimalSoapOut"/>
        </operation>
        <operation name="echoBoolean">
            <input message="s1:echoBooleanSoapIn"/>
            <output message="s1:echoBooleanSoapOut"/>
        </operation>
    </portType>
    <portType name="SimplePort2">
        <operation name="echoVoid">
            <input message="s1:echoVoidSoapIn"/>
            <output message="s1:echoVoidSoapOut"/>
        </operation>
        <operation name="echoInteger">
            <input message="s1:echoIntegerSoapIn"/>
            <output message="s1:echoIntegerSoapOut"/>
        </operation>
        <operation name="echoFloat">
            <input message="s1:echoFloatSoapIn"/>
            <output message="s1:echoFloatSoapOut"/>
        </operation>
        <operation name="echoString">
            <input message="s1:echoStringSoapIn"/>
            <output message="s1:echoStringSoapOut"/>
        </operation>
        <operation name="echoBase64">
            <input message="s1:echoBase64SoapIn"/>
            <output message="s1:echoBase64SoapOut"/>
        </operation>
        <operation name="echoDate">
            <input message="s1:echoDateSoapIn"/>
            <output message="s1:echoDateSoapOut"/>
        </operation>
        <operation name="echoStruct">
            <input message="s1:echoStructSoapIn"/>
            <output message="s1:echoStructSoapOut"/>
        </operation>
        <operation name="echoIntegerArray">
            <input message="s1:echoIntegerArraySoapIn"/>
            <output message="s1:echoIntegerArraySoapOut"/>
        </operation>
        <operation name="echoFloatArray">
            <input message="s1:echoFloatArraySoapIn"/>
            <output message="s1:echoFloatArraySoapOut"/>
        </operation>
        <operation name="echoStringArray">
            <input message="s1:echoStringArraySoapIn"/>
            <output message="s1:echoStringArraySoapOut"/>
        </operation>
        <operation name="echoStructArray">
            <input message="s1:echoStructArraySoapIn"/>
            <output message="s1:echoStructArraySoapOut"/>
        </operation>
        <operation name="echoDecimal">
            <input message="s1:echoDecimalSoapIn"/>
            <output message="s1:echoDecimalSoapOut"/>
        </operation>
        <operation name="echoBoolean">
            <input message="s1:echoBooleanSoapIn"/>
            <output message="s1:echoBooleanSoapOut"/>
        </operation>
    </portType>
    <binding name="SimpleBinding1" type="s1:SimplePort1">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="echoVoid">
            <soap:operation
                soapAction="capeconnect:SimpleService1:SimplePort1#echoVoid"
                style="rpc"/>
            <input>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://soapinterop.org/"
                    use="encoded"/>
            </input>
            <output>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://soapinterop.org/"
                    use="encoded"/>
            </output>
        </operation>
        <operation name="echoInteger">
            <soap:operation
                soapAction="capeconnect:SimpleService1:SimplePort1#echoInteger"
                style="rpc"/>
            <input>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://soapinterop.org/"
                    use="encoded"/>
            </input>
            <output>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://soapinterop.org/"
                    use="encoded"/>
            </output>
        </operation>
        <operation name="echoFloat">
            <soap:operation
                soapAction="capeconnect:SimpleService1:SimplePort1#echoFloat"
                style="rpc"/>
            <input>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://soapinterop.org/"
                    use="encoded"/>
            </input>
            <output>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://soapinterop.org/"
                    use="encoded"/>
            </output>
        </operation>
        <operation name="echoString">
            <soap:operation
                soapAction="capeconnect:SimpleService1:SimplePort1#echoString"
                style="rpc"/>
            <input>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://soapinterop.org/"
                    use="encoded"/>
            </input>
            <output>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://soapinterop.org/"
                    use="encoded"/>
            </output>
        </operation>
        <operation name="echoBase64">
            <soap:operation
                soapAction="capeconnect:SimpleService1:SimplePort1#echoBase64"
                style="rpc"/>
            <input>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://soapinterop.org/"
                    use="encoded"/>
            </input>
            <output>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://soapinterop.org/"
                    use="encoded"/>
            </output>
        </operation>
        <operation name="echoDate">
            <soap:operation
                soapAction="capeconnect:SimpleService1:SimplePort1#echoDate"
                style="rpc"/>
            <input>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://soapinterop.org/"
                    use="encoded"/>
            </input>
            <output>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://soapinterop.org/"
                    use="encoded"/>
            </output>
        </operation>
        <operation name="echoStruct">
            <soap:operation
                soapAction="capeconnect:SimpleService1:SimplePort1#echoStruct"
                style="rpc"/>
            <input>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://soapinterop.org/"
                    use="encoded"/>
            </input>
            <output>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://soapinterop.org/"
                    use="encoded"/>
            </output>
        </operation>
        <operation name="echoIntegerArray">
            <soap:operation
                soapAction="capeconnect:SimpleService1:SimplePort1#echoIntegerArray"
                style="rpc"/>
            <input>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://soapinterop.org/"
                    use="encoded"/>
            </input>
            <output>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://soapinterop.org/"
                    use="encoded"/>
            </output>
        </operation>
        <operation name="echoFloatArray">
            <soap:operation
                soapAction="capeconnect:SimpleService1:SimplePort1#echoFloatArray"
                style="rpc"/>
            <input>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://soapinterop.org/"
                    use="encoded"/>
            </input>
            <output>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://soapinterop.org/"
                    use="encoded"/>
            </output>
        </operation>
        <operation name="echoStringArray">
            <soap:operation
                soapAction="capeconnect:SimpleService1:SimplePort1#echoStringArray"
                style="rpc"/>
            <input>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://soapinterop.org/"
                    use="encoded"/>
            </input>
            <output>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://soapinterop.org/"
                    use="encoded"/>
            </output>
        </operation>
        <operation name="echoStructArray">
            <soap:operation
                soapAction="capeconnect:SimpleService1:SimplePort1#echoStructArray"
                style="rpc"/>
            <input>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://soapinterop.org/"
                    use="encoded"/>
            </input>
            <output>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://soapinterop.org/"
                    use="encoded"/>
            </output>
        </operation>
        <operation name="echoDecimal">
            <soap:operation
                soapAction="capeconnect:SimpleService1:SimplePort1#echoDecimal"
                style="rpc"/>
            <input>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://soapinterop.org/"
                    use="encoded"/>
            </input>
            <output>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://soapinterop.org/"
                    use="encoded"/>
            </output>
        </operation>
        <operation name="echoBoolean">
            <soap:operation
                soapAction="capeconnect:SimpleService1:SimplePort1#echoBoolean"
                style="rpc"/>
            <input>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://soapinterop.org/"
                    use="encoded"/>
            </input>
            <output>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://soapinterop.org/"
                    use="encoded"/>
            </output>
        </operation>
    </binding>
    <binding name="SimpleBinding2" type="s1:SimplePort2">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="echoVoid">
            <soap:operation
                soapAction="capeconnect:SimpleService1:SimplePort2#echoVoid"
                style="rpc"/>
            <input>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://soapinterop.org/"
                    use="encoded"/>
            </input>
            <output>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://soapinterop.org/"
                    use="encoded"/>
            </output>
        </operation>
        <operation name="echoInteger">
            <soap:operation
                soapAction="capeconnect:SimpleService1:SimplePort2#echoInteger"
                style="rpc"/>
            <input>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://soapinterop.org/"
                    use="encoded"/>
            </input>
            <output>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://soapinterop.org/"
                    use="encoded"/>
            </output>
        </operation>
        <operation name="echoFloat">
            <soap:operation
                soapAction="capeconnect:SimpleService1:SimplePort2#echoFloat"
                style="rpc"/>
            <input>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://soapinterop.org/"
                    use="encoded"/>
            </input>
            <output>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://soapinterop.org/"
                    use="encoded"/>
            </output>
        </operation>
        <operation name="echoString">
            <soap:operation
                soapAction="capeconnect:SimpleService1:SimplePort2#echoString"
                style="rpc"/>
            <input>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://soapinterop.org/"
                    use="encoded"/>
            </input>
            <output>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://soapinterop.org/"
                    use="encoded"/>
            </output>
        </operation>
        <operation name="echoBase64">
            <soap:operation
                soapAction="capeconnect:SimpleService1:SimplePort2#echoBase64"
                style="rpc"/>
            <input>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://soapinterop.org/"
                    use="encoded"/>
            </input>
            <output>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://soapinterop.org/"
                    use="encoded"/>
            </output>
        </operation>
        <operation name="echoDate">
            <soap:operation
                soapAction="capeconnect:SimpleService1:SimplePort2#echoDate"
                style="rpc"/>
            <input>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://soapinterop.org/"
                    use="encoded"/>
            </input>
            <output>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://soapinterop.org/"
                    use="encoded"/>
            </output>
        </operation>
        <operation name="echoStruct">
            <soap:operation
                soapAction="capeconnect:SimpleService1:SimplePort2#echoStruct"
                style="rpc"/>
            <input>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://soapinterop.org/"
                    use="encoded"/>
            </input>
            <output>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://soapinterop.org/"
                    use="encoded"/>
            </output>
        </operation>
        <operation name="echoIntegerArray">
            <soap:operation
                soapAction="capeconnect:SimpleService1:SimplePort2#echoIntegerArray"
                style="rpc"/>
            <input>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://soapinterop.org/"
                    use="encoded"/>
            </input>
            <output>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://soapinterop.org/"
                    use="encoded"/>
            </output>
        </operation>
        <operation name="echoFloatArray">
            <soap:operation
                soapAction="capeconnect:SimpleService1:SimplePort2#echoFloatArray"
                style="rpc"/>
            <input>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://soapinterop.org/"
                    use="encoded"/>
            </input>
            <output>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://soapinterop.org/"
                    use="encoded"/>
            </output>
        </operation>
        <operation name="echoStringArray">
            <soap:operation
                soapAction="capeconnect:SimpleService1:SimplePort2#echoStringArray"
                style="rpc"/>
            <input>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://soapinterop.org/"
                    use="encoded"/>
            </input>
            <output>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://soapinterop.org/"
                    use="encoded"/>
            </output>
        </operation>
        <operation name="echoStructArray">
            <soap:operation
                soapAction="capeconnect:SimpleService1:SimplePort2#echoStructArray"
                style="rpc"/>
            <input>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://soapinterop.org/"
                    use="encoded"/>
            </input>
            <output>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://soapinterop.org/"
                    use="encoded"/>
            </output>
        </operation>
        <operation name="echoDecimal">
            <soap:operation
                soapAction="capeconnect:SimpleService1:SimplePort2#echoDecimal"
                style="rpc"/>
            <input>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://soapinterop.org/"
                    use="encoded"/>
            </input>
            <output>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://soapinterop.org/"
                    use="encoded"/>
            </output>
        </operation>
        <operation name="echoBoolean">
            <soap:operation
                soapAction="capeconnect:SimpleService1:SimplePort2#echoBoolean"
                style="rpc"/>
            <input>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://soapinterop.org/"
                    use="encoded"/>
            </input>
            <output>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://soapinterop.org/"
                    use="encoded"/>
            </output>
        </operation>
    </binding>
    <service name="SimpleService1">
        <documentation>These operations implement some simple Section 5, rpc-style SOAP operations, for interop testing. Please email keithba@microsoft.com with any  questions.</documentation>
        <port binding="s1:SimpleBinding2" name="SimplePort2">
            <soap:address location="http://10.60.144.67/asmx/simple2.asmx"/>
        </port>
        <port binding="s1:SimpleBinding1" name="SimplePort1">
            <soap:address location="http://10.60.144.67/asmx/simple1.asmx"/>
        </port>
    </service>
    <service name="SimpleService2">
        <port binding="s1:SimpleBinding2" name="SimplePort2">
            <soap:address location="http://10.60.144.67/asmx/simple2.asmx"/>
        </port>
    </service>
</definitions>