qa/apps/qa-regress/axis/servicesAndPorts/0s0p.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

-->
<definitions
    targetNamespace="http://soapinterop.org/"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
    xmlns:s="http://www.w3.org/2001/XMLSchema"
    xmlns:s0="http://soapinterop.org/xsd"
    xmlns:s1="http://soapinterop.org/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/">
    <types>
        <s:schema
            targetNamespace="http://soapinterop.org/xsd"
            xmlns="http://schemas.xmlsoap.org/wsdl/"
            xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
            xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
            xmlns:s="http://www.w3.org/2001/XMLSchema"
            xmlns:s0="http://soapinterop.org/xsd"
            xmlns:s1="http://soapinterop.org/"
            xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
            xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
            xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/">
            <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
            <s:import namespace="http://schemas.xmlsoap.org/wsdl/"/>
            <s:complexType name="SOAPStruct">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="1" name="varInt" type="s:int"/>
                    <s:element maxOccurs="1" minOccurs="1" name="varString" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="1" name="varFloat" type="s:float"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfSOAPStruct">
                <s:complexContent mixed="false">
                    <s:restriction base="soapenc:Array">
                        <s:attribute
                            d7p1:arrayType="s0:SOAPStruct[]"
                            ref="soapenc:arrayType"
                            xmlns:d7p1="http://schemas.xmlsoap.org/wsdl/"/>
                    </s:restriction>
                </s:complexContent>
            </s:complexType>
        </s:schema>
        <s:schema
            targetNamespace="http://soapinterop.org/"
            xmlns="http://schemas.xmlsoap.org/wsdl/"
            xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
            xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
            xmlns:s="http://www.w3.org/2001/XMLSchema"
            xmlns:s0="http://soapinterop.org/xsd"
            xmlns:s1="http://soapinterop.org/"
            xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
            xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
            xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/">
            <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
            <s:import namespace="http://schemas.xmlsoap.org/wsdl/"/>
            <s:complexType name="ArrayOfInt">
                <s:complexContent mixed="false">
                    <s:restriction base="soapenc:Array">
                        <s:attribute
                            d7p1:arrayType="s:int[]"
                            ref="soapenc:arrayType"
                            xmlns:d7p1="http://schemas.xmlsoap.org/wsdl/"/>
                    </s:restriction>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="ArrayOfFloat">
                <s:complexContent mixed="false">
                    <s:restriction base="soapenc:Array">
                        <s:attribute
                            d7p1:arrayType="s:float[]"
                            ref="soapenc:arrayType"
                            xmlns:d7p1="http://schemas.xmlsoap.org/wsdl/"/>
                    </s:restriction>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="ArrayOfString">
                <s:complexContent mixed="false">
                    <s:restriction base="soapenc:Array">
                        <s:attribute
                            d7p1:arrayType="s:string[]"
                            ref="soapenc:arrayType"
                            xmlns:d7p1="http://schemas.xmlsoap.org/wsdl/"/>
                    </s:restriction>
                </s:complexContent>
            </s:complexType>
        </s:schema>
    </types>
    <message name="echoBooleanSoapIn">
        <part name="inputBoolean" type="s:boolean"/>
    </message>
    <message name="echoStringSoapOut">
        <part name="return" type="s:string"/>
    </message>
    <message name="echoStringArraySoapOut">
        <part name="return" type="s1:ArrayOfString"/>
    </message>
    <message name="echoStringSoapIn">
        <part name="inputString" type="s:string"/>
    </message>
    <message name="echoStructArraySoapOut">
        <part name="return" type="s0:ArrayOfSOAPStruct"/>
    </message>
    <message name="echoVoidSoapOut">   </message>
    <message name="echoStructSoapOut">
        <part name="return" type="s0:SOAPStruct"/>
    </message>
    <message name="echoFloatArraySoapIn">
        <part name="inputFloatArray" type="s1:ArrayOfFloat"/>
    </message>
    <message name="echoDecimalSoapIn">
        <part name="inputDecimal" type="s:decimal"/>
    </message>
    <message name="echoStructArraySoapIn">
        <part name="inputStructArray" type="s0:ArrayOfSOAPStruct"/>
    </message>
    <message name="echoVoidSoapIn">   </message>
    <message name="echoFloatSoapOut">
        <part name="return" type="s:float"/>
    </message>
    <message name="echoIntegerArraySoapOut">
        <part name="return" type="s1:ArrayOfInt"/>
    </message>
    <message name="echoIntegerSoapOut">
        <part name="return" type="s:int"/>
    </message>
    <message name="echoDateSoapOut">
        <part name="return" type="s:dateTime"/>
    </message>
    <message name="echoBase64SoapIn">
        <part name="inputBase64" type="s:base64Binary"/>
    </message>
    <message name="echoFloatArraySoapOut">
        <part name="return" type="s1:ArrayOfFloat"/>
    </message>
    <message name="echoStructSoapIn">
        <part name="inputStruct" type="s0:SOAPStruct"/>
    </message>
    <message name="echoStringArraySoapIn">
        <part name="inputStringArray" type="s1:ArrayOfString"/>
    </message>
    <message name="echoDateSoapIn">
        <part name="inputDate" type="s:dateTime"/>
    </message>
    <message name="echoFloatSoapIn">
        <part name="inputFloat" type="s:float"/>
    </message>
    <message name="echoBase64SoapOut">
        <part name="return" type="s:base64Binary"/>
    </message>
    <message name="echoIntegerArraySoapIn">
        <part name="inputIntegerArray" type="s1:ArrayOfInt"/>
    </message>
    <message name="echoIntegerSoapIn">
        <part name="inputInteger" type="s:int"/>
    </message>
    <message name="echoDecimalSoapOut">
        <part name="return" type="s:decimal"/>
    </message>
    <message name="echoBooleanSoapOut">
        <part name="return" type="s:boolean"/>
    </message>
</definitions>